@model IEnumerable<PointOpeOsaaminen.Models.Osaamiset>

@{
    ViewBag.Title = "IndexKäyttäjät";
}

<body style="background:url(/Images/OsaamisetKuva.png)">
    <h2 style="text-align:center;"><b>Osaamiset</b></h2>

    <form id="formsearch" method="post">
        <div class=" row" id=" SearchBox">
            <div class=" col-md-1"><b>Osaaminen</b></div>
            <div class=" col-md-2"><input type="text" id="Osaaminen" name="Osaaminen" /></div>
            <div class=" col-md-2"><input type="submit" id=" submitsearch" value="Etsi" /></div>
        </div>
    </form>
    <div style="height: 200px; overflow: auto;">
        <table class="table table-bordered" style="background-color:azure">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Osaaminen)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Kuvaus)
                </th>
                
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Osaaminen)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Kuvaus)
                    </td>
                </tr>
            }

        </table>
    </div>
</body>
