@{
    ViewBag.Title = "Tietoja meistä";
}
<h2> Oy Porvoo International College Ab</h2>
<br />
<br />
<p>
    Oy Porvoo International College on kolmekielinen toisen asteen oppilaitos, joka sijaitsee Porvoossa keskustan tuntumassa Näsin kaupunginosassa. Aikuiskoulutusyksikkö toimii WSOYTALOssa. Digitaalisen kuvan, videon ja äänen tuotantopaikka DigiPoint sijaitsee Taidetehtaalla, ja toimii myös monimuotoisena opetustilana niin nuorille kuin aikuisille.

    Porvoo International College syntyi 2012 kahden perinteisen oppilaitoksen, 1958 perustetun Porvoon kauppaoppilaitoksen ja 1989 perustetun Porvoon terveydenhuolto-oppilaitoksen yhdistyttyä. Oppilaitos toimii nimellä Point College.

    Point Collegessa opiskelee nuoria ja aikuisia, sekä liiketalouden ja hallinnon alaa että sosiaali- ja terveysalaa kolmella kielellä: suomeksi, ruotsiksi ja englanniksi. Opiskelijoita on yhteensä yli 700 ja henkilökuntaa n. 70. Koulutustarjontaan kuuluu kymmeniä erilaisia liiketalouden ja sosiaali- ja terveysalan koulutusohjelmia, ja oppilaitoksella on oma oppisopimustoimisto.

    Teemme toimivaa alueellista ja kansainvälistä yhteistyötä elinkeinoelämän kanssa ja rakennamme alueen tulevaisuutta yhdessä opiskelijoiden ja työelämän kanssa.

    Tarjoamme asiakkaillemme oppimisen ja osaamisen iloa.

    Ammatillisen koulutuksen järjestäminen itäisellä Uudellamaalla

    Alueen kunnat ovat päättäneet syksyn 2016 aikana käynnistää muutosohjelman ammatillisen koulutuksen järjestämisen uudelleenorganisoimiseksi alueella. Muutostyön tarkoituksena on järjestää ammatillinen koulutus siten, että Itä-Uudellamaalla toimii jatkossa kaksi toisen asteen ammatillista koulutusta tarjoavaa osakeyhtiötä.
</p>
