@{
    ViewBag.Title = "Yhteystiedot";
}
<h1 style="text-align:center"><b>@ViewBag.Title</b></h1>
<body style="background:url(/BackGround/schoolBG.png)">

</body>
<table class="table table-striped  table-hover table table-bordered" style="background-color:azure"">
    <thead>
        <tr>
            <th>Nimi</th>
            <th>Sähköposti</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Aarnio Catharina</td>
            <td>catharina.aarnio@pointcollege.fi</td>
        </tr>
        <tr>
            <td>Antman Katarina</td>
            <td>katarina.antman@pointcollege.fi</td>
        </tr>
        <tr>
            <td>Berg Ahlroth Liselott</td>
            <td>liselott.bergahlroth@pointcollege.fi</td>
        </tr>
        <tr>
            <td>Blomander Linda</td>
            <td>linda.blomander@pointcollege.fi</td>
        </tr>
        <tr>
            <td>Eglite-Osmane Anita</td>
            <td>anita.egliteosmane@pointcollege.fi</td>
        </tr>
        <tr>
            <td>Kainberg Alexander</td>
            <td>alexander.kainberg@pointcollege.fi</td>
        </tr>
    </tbody>
</table>