@{
    ViewBag.Title = "Yhteistiedot";
}
<h2>Yhteistiedot</h2>
<h3>Porvoo International College</h3>

<address>
    Opistokuja 1<br />
    06100 PORVOO<br />
    <abbr title="(019)529 9200">Puh:</abbr>
    (019)529 9200
</address>

<address>
    <strong>Sähköposti:</strong>   <a href="mailto:Support@example.com">info(a)pointcollege.fi</a><br />
    <strong>Myynti:</strong> <a href="mailto:Marketing@example.com">kaupalliset@pointcollege.fi</a>
</address>