@{
    ViewBag.Title = "Home Page";
    if (Session["LogedKäyttäjäID"] == null)
    {
        Response.Redirect("~/Käyttäjät/Index");
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div hidden class="jumbotron text-center">
        <p>Resize this responsive page to see the effect!</p>
    </div>

    <div class="container">
        <div style="text-align:center" class="img-rounded">
            <img  src="~/Kuvat/logo 2.jpg" style="width:800px" />
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <h3></h3>
                    <p></p>
                    <p></p>
                </div>
                <div class="col-sm-8" style="text-align:center">
                    <div style="text-align:left">
                        <h3 style="color:aliceblue"><b>OPPIMISEN JA OSAAMISEN ILOA JO YLI 50 VUOTTA!</b></h3>
                    </div>
                    <p style="text-align:left; color:aliceblue">
                        <b>
                            Porvoo International College eli Point College on yksityinen koulutuksen
                            järjestäjä, joka on palvellut alueen yrityksiä jo yli 50 vuotta.
                            Point College syntyi vuonna 2012 kun kaksi perinteistä oppilaitosta,
                            vuonna 1958 perustettu Porvoon kauppaoppilaitos ja vuonna 1989
                            perustettu Porvoon terveydenhuolto-oppilaitos fuusioituivat.
                            Point College on puolijulkinen, yleishyödyllinen yritys,
                            jonka omistavat kunnat n. 59 % osuudella, paikalliset yritykset ja
                            yksityiset henkilöt.

                            Meiltä valmistuu ammattitaitoista ja osaavaa työvoimaa sekä
                            liiketalouden ja luonnontieteiden että sosiaali- ja terveysalan
                            palvelukseen. Koulutamme sekä nuoria että aikuisia suomeksi, ruotsiksi
                            ja englanniksi, ja Point Collegella on oma oppisopimustoimisto.
                            Toimintaperiaatteisiimme kuuluu opiskelija- ja asiakaslähtöinen ote sekä
                            tiivis työelämäyhteistyö jo opintojen aikana.
                            Valmistumisasteemme on korkea, ja opiskelijamme työllistyvät hyvin.

                            Point College on valtioneuvoston vuoden 2014, 2015, 2016 ja 2017
                            vahvistaman tuloksellisuuden oman luokkansa paras!
                        </b>
                    </p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p style="color:aliceblue"><b>
                     Point College, DigiPoint<br>
                     Läntinen Aleksanterinkatu 1<br>
                     06100 Porvoo
                   </b> </p>
                   
                    <p style="color:aliceblue"><b>
                    info@pointcollege.fi<br>
                     puh. (019) 529
                    </b> </p>

                </div>
                <div class="col-sm-2">
                    <h3></h3>
                    <p></p>
                    <p></p>
                </div>
            </div>
        </div>

</body>
</html>






